<template name="menu">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#"><img src="/img/logo.png" alt="evee"></a>
        <ul class="nav">
          {{#if selectedEvent}}<li class="back-home"><a href="#">&lt;&lt; voltar para home</a></li>{{/if}}
          <!--<li><a href="#about">Sobre</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>-->
        </ul>
      </div>
    </div>
  </div>
</template>